<%= form_for @signup, url: wizard_path do |f| %>
  <h1>Need People or Things</h1>

  <%= f.hidden_field :signup_id, :value => @signup.id %>
  <div class="form-group">
    <%= f.label 'Event start date' %>
    <%= f.datetime_select :start_date, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Event end date' %>
    <%= f.datetime_select :end_date, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save and Continue' %>
  </div>
<% end %>