<div class="signup-form">
  <h1>Basic info about the signup event</h1>
  <%= form_for @signup do |f| %>
    <% if @signup.errors.any? %>
      <div class="">
        <h2>
          <%= pluralize(@signup.errors.count, 'error') %> prohibited this user from being saved:
        </h2>
        <ul>
          <% @signup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <span class="signup-form-label col-md-5 col-sm-5 col-xs-5">Signup Title</span>
        <span class="col-md-7 col-sm-7 col-xs-7"><%= f.text_field :title, :class => 'form-control' %></span>
      </div>

      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <span class="signup-form-label col-md-5 col-sm-5 col-xs-5">Type of Event</span>
        <span class="col-md-7 col-sm-7 col-xs-7">
          <%= f.select :signup_type, [ 'Cell', 'Work', 'Office', 'Home', 'Other' ], {}, {:class => 'form-control', :prompt => 'Select One'} %>
        </span>
      </div>

      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <span class="signup-form-label col-md-5 col-sm-5 col-xs-5">Welcome Message/ Ask</span>
        <span class="col-md-7 col-sm-7 col-xs-7"><%= f.text_area :description, :class => 'form-control' %></span>
      </div>

      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <span class="col-md-7 col-sm-7 col-xs-7 col-md-offset-5 col-sm-offset-5 col-xs-offset-5"><%= f.submit 'Save and Continue', :class => 'form-control' %></span>
      </div>
    </div>

  <% end %>
</div>
